@font-face {
    font-family: 'ZuumeRough';
    src: url('./ZuumeRough-BoldItalic.otf') format('opentype'); /* Assicurati che il percorso sia corretto */
    font-weight: bold;
    font-style: italic;
}

.title {
    font-size: 3em;
    font-weight: bold;
    color: #1c2b33;
    font-family: 'ZuumeRough', sans-serif; /* Usa il font importato */
    line-height: 1.2; /* Altezza della linea per rendere le lettere più alte */
}