@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: 'ZuumeRough';
    src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap') format('opentype'); /* Assicurati che il percorso sia corretto */
    font-weight: bold;
    font-style: italic;
}

.title {
    font-weight: bold;
    color: #1c2b33;
    font-family: 'Anton', sans-serif; /* Usa il font importato */
    line-height: 1.2; /* Altezza della linea per rendere le lettere più alte */
}