.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Sfondo semi-trasparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-logo {
    width: 200px; /* Larghezza del logo */
    height: 200px; /* Altezza del logo */
    animation: rotate 5s linear infinite; /* Animazione di rotazione per 5 secondi */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}